<hr>
<div class="container">
  <div class="text-center">
    <h2 class="text-title" id="about"> Acerca de Mi...</h2>
  </div>
  <div class="row">
    <div class="col-4 mt-lg-5">
          <img [src]="urlPhoto" alt="" class="rounded mx-4 d-block">
          <ul>
            <li>Nombre y Apellido</li>
            <li>Full Stack Developer Jr.</li>
          </ul>
    </div>
    <div class="col-lg-8 mt-lg-5">
        <p class="h3"><b>Informacion Profesional</b></p>
        <p class="justify parrafo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus earum provident laudantium nemo
            inventore necessitatibus porro veritatis maxime. Voluptate cumque in, veniam perferendis repellendus
            animi laboriosam ab! Ad, odit ipsum.</p>
    </div>
  </div>
</div>
