<hr />
<div class="container">
  <div class="text-center">
    <h2>Experiencia Laboral</h2>
  </div>
  <div class="row g-3 mt-lg-5">
    <div class="col-4">
      <aside>
        <section>
          <figure class="figure">
            <img
              class="figure-img img-fluid rounded"
              [src]="urlImagen"
              alt="Imagen de la Empresa"
              id="img"
            />
            <figcaption id="img-text" class="figure-caption text-end">
              A caption for the above image.
            </figcaption>
          </figure>
        </section>

      </aside>

    </div>

    <div class="col-8">
      <article>
        <section>
          <h2 class="text-danger">Nombre de la Oficina y/o Area</h2>
          <p>
            This blog post shows a few different types of content that’s
            supported and styled with Bootstrap. Basic typography, lists,
            tables, images, code, and more are all supported as expected.
          </p>
        </section>
      </article>

    </div>
  </div>
  <div class="row g-3">
    <div class="col-4">
      <aside>
        <section>
          <figure class="figure">
            <img
              class="figure-img img-fluid rounded"
              [src]="urlImagen"
              alt="Imagen de la Empresa"
              id="img"
            />
            <figcaption id="img-text" class="figure-caption text-end">
              A caption for the above image.
            </figcaption>
          </figure>
        </section>
      </aside>
    </div>
    <div class="col-8">
      <article>
        <section>
          <h2 class="text-danger">Nombre de la Oficina y/o Area</h2>
          <p>
            This blog post shows a few different types of content that’s
            supported and styled with Bootstrap. Basic typography, lists,
            tables, images, code, and more are all supported as expected.
          </p>
        </section>
      </article>

    </div>
  </div>
  <div class="row g-3">
    <div class="col-4">
      <aside>
        <section>
          <figure class="figure">
            <img
              class="figure-img img-fluid rounded"
              [src]="urlImagen"
              alt="Imagen de la Empresa"
              id="img"
            />
            <figcaption id="img-text" class="figure-caption text-end">
              A caption for the above image.
            </figcaption>
          </figure>
        </section>
      </aside>
    </div>
    <div class="col-8">
      <article>
        <section>
          <h2 class="text-danger">Nombre de la Oficina y/o Area</h2>
          <p>
            This blog post shows a few different types of content that’s
            supported and styled with Bootstrap. Basic typography, lists,
            tables, images, code, and more are all supported as expected.
          </p>
        </section>
      </article>

    </div>
  </div>
</div>
